.paint-container {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f9f9f9;
  }
  
  .paint-card {
    background:#cadaff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  .exterior-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 5%;
    margin-left: 5%;
  }
  
  
  .luxury-image {
    width: 60%!important;
    position: relative;
    top: -50px; /* Move the paint bucket up */
  }
  
  .paint-details {
    margin-top: -20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .add-to-cart {
    background-color: #ffc107;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
